extends ../layout

block content
  a(href="/bicicletas") Atras
  br
  br
  br
  h1 Editar Bicicleta
  br
  br
  form(action=`/bicicletas/${bici.id}/update` method="post")
    label(for="id") ID:
    input#id(type="text" name="id" value=bici.id)
    br
    label(for="color") Color:
    input#id(type="text" name="color" value=bici.color)
    br
    label(for="modelo") Modelo:
    input#id(type="text" name="modelo" value=bici.modelo)
    br
    label(for="latitud") Latitud:
    input#id(type="text" name="latitud" value=bici.ubicacion[0])
    br
    label(for="longitud") Longitud:
    input#id(type="text" name="longitud" value=bici.ubicacion[1])
    br
    br
    input.btn(type="submit" value="OK")